<!-- views/partials/footer.ejs -->

<footer class="footer navbar-fixed-bottom visible-md-block visible-lg-block">
    <div class="container">
        <p class="text-center text-muted"> 2016 - Even Better Jokes</p>
    </div>            
</footer>