<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default no-color" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="pull-left"><img class="img-responsive" src="img/top-logo.png"></a>
        </div>

<!--        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
-->
    </div>
</nav>