<!-- views/partials/head.ejs -->

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Quer que eu desenhe?</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/lib/css/literallycanvas.css" rel="stylesheet">
<link href="/bootstrap-star-rating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

<style>
    body    { padding-top:50px; }
</style>