<div class="page-header-back">
	<nav class=" navbar navbar-default no-color">
		  <div class="container-fluid">
		    <div class="navbar-header">
			      <a class="navbar-brand" style="margin-top: -15px" href="/">
			        <img  src="./img/home.png">
			      </a>
		    </div>
		  </div>
	</nav>
</div>