<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="margin-top: -15px" href="/">
        <img  src="./img/home.png">
      </a>
    </div>
  </div>
</nav>