<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <% include ../partials/home %>
    </head>
    <body class="container">
        <main>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-8">
                    <div class="well well-sm bg-success">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-md-10">
                                    <h4>Título: <span id="presentationTitle"></span></h4>
                                </div>
                                <div class="col-md-2">
                                    <button id="changeTitle" type="button" class="pull-right btn btn-primary" data-toggle="modal" data-target="#changeTitleModal" data-backdrop="static" data-keyboard="false">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    </button>
                                    <div id="changeTitleModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Título</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" id="presentationTitleInput">
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="saveTitle" type="button" class="btn btn-default" data-dismiss="modal">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="" class="well well-sm bg-success">
                    ID: <span id="presentationId"></span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="navigation-controls row-fluid">
                        <div class="col-md-3">
                            <button id="prev" type="button" class="disabled btn btn-success btn-block">Anterior</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <h4><span id="currentPage">X</span>/<span id="numOfPages">X</span></h4>
                        </div>
                        <div class="col-md-3">
                            <button id="next" type="button" class="disabled btn btn-success btn-block">Próximo</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <img id="pageView"class="img-responsive center-block img-thumbnail" src="">
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6 text-center">
                            <button id="edit" type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#editorModal" data-backdrop="static" data-keyboard="false">Alterar Imagem</button>
                        </div>
                        <div id="editorModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-dialog-full">
                                <!-- Modal content-->
                                <div class="modal-content modal-content-full">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <img src="./images/edit-logo.png" style="margin:0px auto;display:block">
                                    </div>
                                    <div class="modal-body">
                                        <div class="lite" id='canvas'></div>
                                        <canvas id="image-canvas" width="0" height="0" style="position: absolute; left: 0; top: 200; z-index: -1;"></canvas>
                                    </div>
                                    <div class="modal-footer" style="text-align: center">
                                        <button id="saveImage" type="button" class="btn btn-default" data-dismiss="modal"><img src="./images/save.png" style="margin:0px auto;display:block"></button>
                                        <button style=" float: right" type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadURLModal" data-backdrop="static" data-keyboard="false"><img class="upload-link" src="./images/upload.png"></button>
                                        <div id="uploadURLModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Enviar imagem</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="text" class="form-control" id="imageURL">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="upload" type="button" class="btn btn-default">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <button id="createPage" type="button" class="btn btn-primary center-block">Criar Imagem</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-sm">
                    <div id="comment" style="word-wrap: break-word">XXXX</div>
                    <button id="changeComment" type="button" class="center-block btn btn-primary" data-toggle="modal" data-target="#changeCommentModal" data-backdrop="static" data-keyboard="false">Alterar Comentário</button>
                    <!-- Modal -->
                    <div id="changeCommentModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Comentário</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" rows="5" id="presentationCommentInput"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button id="saveComment" type="button" class="btn btn-default" data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <div class="center-block">
                        Audio
                        <i class="glyphicon glyphicon-play-circle"></i>
                        <i class="glyphicon glyphicon-headphones"></i>
                        <img class="icon-mic" src="/images/mic.png" onclick="toogleMic()" id="record-icon">
                        <i class="glyphicon glyphicon-volume-up"></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <% include ../partials/common_script %>
    <script src="./lib/js/literallycanvas.js"></script>
    <script type="text/javascript" src="/js/create.js"></script>
    <!-- audio recorder -->
    <script src="./lib/js/recorder.js"></script>
    <script src="./lib/js/record_methods.js"></script>

    <script src="./lib/js/image.js"></script>
</body>
</html>