<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <a href="#"> <img class="arrow-image" id="select" src="./img/class-new.png"> </a>
                    <a href="#"> <img class="arrow-image" id="create" src="./img/create-class-new.png"> </a>
                </div>
                <div class="col-md-8">
                    <div class="video-container">
                        <div id="video-display"></div>
                    </div>
                </div>
            </div>
        </div>
        </main>

        <% include ../partials/footer %>
        <% include ../partials/common_script %>

        <script type="text/javascript" src="/pretty-embed/jquery.prettyembed.js"></script>
        <script type="text/javascript" src="/waitForImages/dist/jquery.waitforimages.js"></script>
        <script type="text/javascript" src="/jquery.fitvids/jquery.fitvids.js"></script>
        <script type="text/javascript">
        $('#video-display').prettyEmbed({
            videoID: 'Gbf8o0o190w',
            previewSize: 'hd',
            // Embed controls
            showInfo: false,
            showControls: true,
            loop: false,
            colorScheme: 'dark',
            showRelated: false,
            useFitVids: true,
        });

        $('#view').on('click', function (e) {
            alert("view");
        });

        $('#create').on('click', function (e) {
            location.href = '/create';
        });

        $('#select').on('click', function (e) {
            location.href = '/select';
        });

        $('#new').on('click', function (e) {
            location.href = '/new';
        });
        </script>
    </body>
</html>